:root {
	box-sizing: border-box;
	font-size: calc(1vw + 0.6em);
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	margin: 0;
    padding: 0;
}

body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

main {
	height: 92vh;
	padding: 1px 0;
	background-image: url("../images/main_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

main section {
	margin: 72% 40% auto 6%;
	color: #fbfbfc;
	font-weight: normal;
}

.title {
	margin: 0.3em 0;
	font-size: 6em;
	text-transform: uppercase;
	font-weight: 600;
}

.author {
	margin: 1em 0.3em;
	font-size: 1.8em;
	text-transform: uppercase;
	color: black;
	font-weight: 400;
}

.tag {
	display: inline-block;
	margin: 1em 0;
	padding: 0.3em 0.5em;
	background-color: #fbfbfc;
	border-radius: 0.3em;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
	color: black;
}

nav ul{
	height: 8vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	font-size: 1.8em;
	background: #fbfbfc;
}

.nav_button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.nav_button img {
	width: 50px;
}